.ambo{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Protest Guerrilla', sans-serif;
font-family: 'Sixtyfour', sans-serif;
color: rgb(22, 4, 23);
padding-top: 530px;

}
*{
    /* to rfemove margin created by the user*/
    margin: 0px;
}
header{
    width: 100%;
    height: 500px;
    background-image: url('https://media.licdn.com/dms/image/C561BAQEvkC_ty4VUew/company-background_10000/0/1627613926961/luminartechnolab_cover?e=2147483647&v=beta&t=yiKXkaIC0Gd0OQfayUB_fWSbV5MFCUoJIIWRXApUCxE');
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center();
    background-attachment: fixed;
    opacity: 0.9;
}

.navbar{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-left: 50Px;
    align-items: center;
}

.tech{
    display: inline-block; /* to place each tag side by side*/
    list-style: none; /* can remove dots*/
    margin: 10px 20px;

}
.link:hover{
    color: crimson;
}
.link{
    text-decoration: none; /* remove underline of tags*/
    color: black;
    font-weight: bolder;
}

.table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 120px;
}

.employeepart {
    margin: 50px;
  }
  .employee_heading {
    font-size: 25px;
    color: blue;
  }
  


  
 
  
  th {
    background-color: #f2f2f2;
  }

  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
 
  .contact_part {
    margin: 50px;
  }
  .contact_heading {
    font-size: 25px;
    color: blue;
  }
  .form {
    margin: 20px;
  }
  input {
    margin: 10px;
  }
  .submit {
    margin-top: 10px;
    background-color: rgb(106, 106, 228);
    border-radius: 5px;
  }
  .fotter {
    display: flex;
    justify-content: center;
  }

